@model ImpactWebsite.Models.OrderModels.Module

@{
    ViewData["Title"] = "Edit";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Edit">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>Module Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.ModuleName)</h3>
        </div>

        <input type="hidden" asp-for="ModuleId" />

        <div class="form-horizontal admin-margin-detail">

            <div class="form-group">
                <label asp-for="ModuleId" class="col-md-2 control-label"></label>
                <div class="col-md-10 admin-align-middle">
                    @Html.DisplayFor(model => model.ModuleId)
                </div>
            </div>

            <div class="form-group form-no-max-width">
                <label asp-for="ModuleName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ModuleName" class="form-control" />
                    <span asp-validation-for="ModuleName" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group form-no-max-width">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Description" class="form-control">@Html.DisplayFor(model => model.Description)</textarea>
                    <span asp-validation-for="Description" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="UnitPrice" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger admin-align-middle"></span>
                </div>
            </div>

        </div>

        <br />
        <div>
            <a asp-action="Details" asp-route-id="@Model.ModuleId"
               role="button" class="btn btn-default">
                <span class="fa fa-info"></span>@Html.Raw(strSpacer)Details
            </a>

            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
