@model ImpactWebsite.Models.NewsletterUser

@{
    ViewData["Title"] = "Home Page";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Index">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <!-- page heading start-->
            <div class="page-heading">
                <h3>
                    Start your analysis
                </h3>
                <ul class="breadcrumb">
                    <li>
                        Analysis
                    </li>
                    <li class="active">Index</li>
                </ul>
            </div>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Application index
                </header>
                <div class="panel-body">

                    <div class="well">
                        <h4 class="text-center">
                            <strong>
                                Select modules and upload portfolio:
                            </strong>
                        </h4>
                        <br>

                        <div class="text-center">
                            <a asp-controller="Order"
                               asp-action="Index"
                               class="btn btn-primary btn-lg ">
                                Start analysis
                            </a>
                        </div>
                    </div>

                    <div class="panel panel-default col-sm-6">
                        <div class="panel-body">
                            Return to website index : @Html.Raw(strSpacer)
                            <a href="http://www.fairbankfinancial.com/"
                               class="btn btn-default">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                @Html.Raw(strSpacer)Homepage
                            </a>
                        </div>
                    </div>

                    <div class="panel panel-default col-sm-6">
                        <div class="panel-body">
                            Get our quarterly newsletter : @Html.Raw(strSpacer)
                            <a href="http://www.fairbankfinancial.com/"
                               class="btn btn-default">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                @Html.Raw(strSpacer)Subscribe
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section class="panel">
            <div class="carousel slide auto panel-body" id="c-slide">
                <ol class="carousel-indicators out">
                    <li data-target="#c-slide" data-slide-to="0" class="active"></li>
                    <li data-target="#c-slide" data-slide-to="1" class=""></li>
                    <li data-target="#c-slide" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item text-center active">
                        <h3>Modular analysis</h3>
                        <p>Choose the exact solution you need</p>
                        <small class="text-muted">Customize your impact analysis and modelling solutions</small>
                    </div>
                    <div class="item text-center">
                        <h3>On-demand analysis</h3>
                        <p>Easy, 2-step process for analysis</p>
                        <small class="text-muted">Choose your modules and upload your portfolio</small>
                    </div>
                    <div class="item text-center">
                        <h3>Unrivalled insight</h3>
                        <p>Impact analysis and modelling</p>
                        <small class="text-muted">Leverage ImpactLeap's analysis to improve performance</small>
                    </div>
                </div>
                <a class="left carousel-control" href="#c-slide" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#c-slide" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </section>
    </div>
</div>