@model ImpactWebsite.Models.OrderModels.Promotion
@using ImpactWebsite.Models.OrderModels;

@{
    ViewData["Title"] = "Create";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Create">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>Create Module</h3>
        </div>

        <div class="form-horizontal admin-margin-detail">

            <div class="form-group">
                <label asp-for="PromotionName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PromotionName" class="form-control" />
                    <span asp-validation-for="PromotionName" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PromotionCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PromotionCode" class="form-control" />
                    <span asp-validation-for="PromotionCode" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DiscountMethod" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="DiscountMethod" class="form-control">
                        <option value="0">Fixed</option>
                        <option value="1">Percentage</option>
                    </select>
                    <span asp-validation-for="DiscountMethod" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateFrom" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DateFrom" type="text" id="datepickerFrom" class="form-control" />
                    <span asp-validation-for="DateFrom" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateTo" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DateTo" type="text" id="datepickerTo" class="form-control" />
                    <span asp-validation-for="DateTo" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group form-no-max-width">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="IsActive" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IsActive" class="form-control" />
                    <span asp-validation-for="IsActive" class="text-danger admin-align-middle"></span>
                </div>
            </div>

        </div>
        <br />
        <div>
            <a asp-action="Index" class="btn btn-default" role="button">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                @Html.Raw(strSpacer)Back to list
            </a>

            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>
<br /><br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#datepickerFrom").datepicker();
            $("#datepickerTo").datepicker();
        });
    </script>
}
