@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png">

    <title>@ViewData["Title"] - Impact Leap</title>

    <meta name="keywords" content="sustainable, investment">
    <meta name="description" content="Helping investors understand impact.">

    <!-- Library -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style-responsive.css">
    <link rel="stylesheet" href="~/css/site.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->

    @Html.Raw(JavaScriptSnippet.FullScript)

    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-100426557-1', 'auto');
            ga('send', 'pageview');

    </script>
</head>

<body class="horizontal-menu-page">

    <section>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area=""
                       asp-controller="Home"
                       asp-action="Index"
                       class="navbar-brand main-nav-left">
                        <img src="~/images/ImpactLeap-logo-gray-bg-blue.png" alt="logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>

        <!--body wrapper start-->
        <div class="body-content">
            @RenderBody()
        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer class="sticky-footer">
            &copy; 2017 ImpactLeap
        </footer>
        <!--footer section end-->

    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- Library -->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="~/lib/jquery.nicescroll/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="~/js/scripts.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/modernizr.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>