
@{
    ViewData["Title"] = "Investment";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<div style="margin:10px;">

    <form method="post" asp-action="FileCommentSubmit" asp-controller="Order" enctype="multipart/form-data">
        <h4>Upload investment information</h4>

        <div style="margin-top: 20px; text-align:center;">
            <p>Browse or drag and drop files</p>

            <input type="hidden" name="email" value="@ViewData["Email"]" />
            <input style="margin:auto;" type="file" class="btn btn-primary" name="files" multiple />
        </div>

        <br />

        <h4>Add comments</h4>
        <div class="input-group" style="margin: 20px auto; width:400px;">
            <textarea name="noteFromUser" style="width:400px; display:table;" class="form-control" rows="3"></textarea>
        </div>

        <input style="width: 100px; margin:auto; display:table;" type="submit" class="btn btn-default" value="Upload" />
    </form>
</div>



