@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Partial Log in";
}

<div class="container">
    <form class="form-signin" asp-controller="Order" asp-action="PartialLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="form-signin-heading">
            <h1 class="sign-title">Log In</h1>
        </div>

        <div class="login-wrap">
            <p>Enter your personal details</p>
            <div class="form-group">
                <input type="text" asp-for="Email" class="form-control" value="@ViewData["Email"]" placeholder="Email" autofocus>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>
            <div class="registration">
                Not yet registered?
                <a asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    Signup
                </a>
            </div>

            <div class="flat-green checkbox-remember-me">
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)

                        <span class="pull-right">
                            <a class="forgot-password" data-toggle="modal" href="#myModal"> Forgot Password?</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal -->

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
            </div>

            <form asp-controller="Account" asp-action="ForgotPassword" method="post">

                <br />
                <div class="modal-body">
                    <div class="alert alert-info text-center">
                        Please email <a href="mailto:info@impactleap.com">info@impactleap.com</a> to get your password reset
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </form>

        </div>
    </div>

</div>

<!-- modal -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <!--icheck-->
    <link rel="stylesheet" href="~/lib/iCheck/skins/flat/green.css">
    <script type="text/javascript" src="~/js/icheck-init.js"></script>
    <script type="text/javascript" src="~/lib/iCheck/icheck.js"></script>

}





