@model ImpactWebsite.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Edit">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>User Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.Email)</h3>
        </div>

        <input type="hidden" asp-for="Id" />

        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="NormalizedUserName" />
        <input type="hidden" asp-for="NormalizedEmail" />
        <input type="hidden" asp-for="EmailConfirmed" />
        <input type="hidden" asp-for="PasswordHash" />
        <input type="hidden" asp-for="SecurityStamp" />
        <input type="hidden" asp-for="ConcurrencyStamp" />
        <input type="hidden" asp-for="PhoneNumber" />
        <input type="hidden" asp-for="PhoneNumberConfirmed" />
        <input type="hidden" asp-for="TwoFactorEnabled" />
        <input type="hidden" asp-for="LockoutEnd" />
        <input type="hidden" asp-for="LockoutEnabled" />
        <input type="hidden" asp-for="AccessFailedCount" />


        <div class="form-horizontal admin-margin-detail">

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger admin-align-middle"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger admin-align-middle"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger admin-align-middle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="UserRole" class="col-md-2 control-label"></label>
                <div class="col-md-10 admin-align-middle">
                    @Html.DisplayFor(model => model.UserRole)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 control-label" style="margin-top: 7px;">Password</div>
                <div class="col-md-10 admin-align-middle">
                    <a asp-controller="ApplicationUser" asp-action="ChangePasswordAdmin" class="btn btn-default">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        @Html.Raw(strSpacer)Reset Password
                    </a>
                </div>
            </div>

            <br />
            <div class="admin-margin-buttons">
                <a asp-action="Details" asp-route-id="@Model.Id"
                   role="button" class="btn btn-default">
                    <span class="fa fa-info"></span>@Html.Raw(strSpacer)Details
                </a>

                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
