
/*-------------------------------
             General
-------------------------------*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 280px;
}

/*-------------------------------
            Table
-------------------------------*/
.noOverFlowText {
    overflow: hidden;
    white-space: nowrap;
}

.orderDetailTable {
    table-layout: fixed;
}

.displayFullNote {
    table-layout: fixed;
    word-wrap: break-word;
}

.userProfileTable {
    max-width: 400px;
}

.table-invoice-detail {
    border: thin !important;
    margin: 0 !important;
}

.center-column {
    float: none;
    margin: auto;
}

.inv-title {
    color: #6bc5a4;
    font-size: 30px;
    text-transform: uppercase;
    margin-top:30px;
}

.inv-title-vertical-center {
    display:inline-block;
    vertical-align:central;
}

/*-------------------------------
           Tool tip - bootstrap override
-------------------------------*/

.tooltip-inner {
    min-width: 450px;
    padding: 15px;
    text-align: left;

    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}


/*-------------------------------
           Sign in - style.css override
-------------------------------*/
.form-signin {
    margin: 70px auto !important;
}

.form-signin-heading {
    padding: 5px !important;
}

.form-signin p {
    text-align: center !important;
    margin-bottom: 15px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    max-width: 330px;
}

.form-signin .form-signin-heading .sign-title,
.form-signin .checkbox,
.form-signin .forgot-password {
    color: #7a7676 !important;
}

/*-------------------------------
           Button
-------------------------------*/
.btn-new-order {
    margin-top: 20px;
}

.btn-anchor {
    color:white !important;
}

.btn-promo-code {
    margin-top: -20px;
}

.checkbox-remember-me {
    padding: 0 !important;
}

.btn-margin-15 {
    margin: 15px;
}

.btn-center {
    text-align: center;
    margin: auto;
}

.btn-modal {
    padding: 8px 18px;
    margin-bottom: 15px !important;
    margin-right: 15px !important;
    border-radius: 5px !important;
}

/*-------------------------------
            Jquery UI - jquery-ui.css override
-------------------------------*/

.ui-widget-header {
    border: 0px !important;
    background: none;
}

.ui-widget-content {
    border: 0px !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 15px !important;
    margin: 0;
    background-color: #65CEA7;
    color: white;
    font-size: large;
    font-weight: normal;
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
}
    .ui-dialog .ui-dialog-buttonpane {
        border-width: 0px;
    }

.ui-dialog-titlebar > .ui-button {
    border: none;
    margin-right: 10px;
    background-color: none;
}

.ui-corner-all ul.p-info .title {
    border-bottom-left-radius: 0px;
}

ul.p-info .desk {
    width: 50% !important;
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0px !important;
}



/*-------------------------------
            Data table - dataTable.bootstrap.css override
-------------------------------*/
div.dataTables_paginate {
    float: right;
    margin-right: 20px;
}

div.dataTables_length label {
    float: left;
    text-align: left;
    padding-bottom: 10px;
    line-height: 30px;
}

div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_info {
    margin: 10px;
}

div.dataTables_filter label {
    float: left;
}

div.dataTables_filter input {
    min-width: 300px;
    margin-right: 50px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting {
    background: url('../images/sort_both.png') no-repeat center right;
}

table.table thead .sorting_asc {
    background: url('../images/sort_asc.png') no-repeat center right;
}

table.table thead .sorting_desc {
    background: url('../images/sort_desc.png') no-repeat center right;
}

table.table thead .sorting_asc_disabled {
    background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

table.table thead .sorting_desc_disabled {
    background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

table.dataTable th:active {
    outline: none;
}

/*-------------------------------
            Dropzone - dropzone.css override
-------------------------------*/

.dropzone-preview {
    height: 100px !important
}

/*-------------------------------
            Ion Range Slider - ion.rangeSlider.css override
-------------------------------*/

.slider-width {
    max-width: 280px;
}

.area {
    position: absolute;
    top: 0;
    height: 10px;
    background: #65CEA7;
}

.range-slider-position {
    position: relative;
    height: 80px;
}


/*-------------------------------
             Misc
-------------------------------*/

.input-icon {
    font-family: 'FontAwesome', 'Open Sans', sans-serif;
}

.customHorizontalRule {
    border: solid 1px Gainsboro !important;
}

.alert-custom {
    margin-left:15px; 
    padding-top:5px; 
    padding-bottom: 7px; 
}

.form-no-max-width input{
    max-width: 100% !important;
    margin-bottom: -20px;    
}

/* Styling for main navigation bar */
.main-nav-right {
    margin-right: 50px;
}

.main-nav-left {
    margin-left: 50px !important;
}

.admin-margin {
    margin: 15px;
}

.admin-margin-detail {
    margin-top: 15px;
    margin-left: -50px;
}

.admin-margin-buttons {
    margin-left: 50px;
    margin-bottom: 20px;
}

.admin-align-middle {
    display:inline-block;
    padding-left: 10px;
    padding-top: 7px;
    margin-bottom: 0;
}



/*-------------------------------
       Responsive design
-------------------------------*/
/* For responsive design */
@media all and (max-width:1150px) {
    nav {
        padding: 5px 15px
    }
}

/* For responsive design for main navigation */
@media all and (max-width:1050px) {
    .main-nav li {
        display: block;
        text-align: center;
        padding: 0
    }

        .main-nav li a {
            display: block;
            font-size: 16px;
            padding: 10px 0
        }

            .main-nav li a:hover {
                background-color: #f3f3f3
            }

        .main-nav li:first-child {
            margin: 10px 0 0
        }
}

@media all and (min-width:1051px) {
    .main-nav {
        display: block !important
    }
}
